.sqs-html-content{
    font-family: 'Public Sans', sans-serif;
    
}

.index-section-wrapper-herosection{
    font-family: 'Public Sans', sans-serif;

    max-width: 1020px;
    margin: 0 auto;
    padding: 65px 32px;
}