body {
    overflow-x: hidden;
}
@media (min-width:641px) {
    .show-on-scroll-wrapper #header {
    opacity: 1;
    visibility: visible;
    top: 0;
    z-index: 10000;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.mobile-nav-open .show-on-scroll-wrapper #header {
    opacity: 0;
    -webkit-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
}
}.sqs-edit-mode .show-on-scroll-wrapper {
    display: none;
}
#header #mainNavWrapper {
    position: static;
}
#header #mainNavWrapper .folder.is-open .folder-toggle {
    color: #fff;
}
#header #mainNavWrapper .folder.is-open .folder-toggle:before {
    opacity: 1;
}
#header #mainNavWrapper .folder-toggle {
    position: relative;
}
#header #mainNavWrapper .folder-toggle:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    opacity: 0;
    transition: .1s;
}
#header #headerNav .c-hero-mega-menu, #sidecarNav #mobileNavigation .c-hero-mega-menu {
    display: flex;
    justify-content: center;
    background-color: #014e59;
    text-align: left;
}
#header #headerNav .c-hero-mega-menu.is-open, #sidecarNav #mobileNavigation .c-hero-mega-menu.is-open {
    opacity: 1;
    visibility: visible;
}
#header #headerNav .c-hero-mega-menu__item, #sidecarNav #mobileNavigation .c-hero-mega-menu__item {
    display: flex;
    min-width: 210px;
    padding: 30px 70px 30px 0;
}
#header #headerNav .c-hero-mega-menu__item:first-child, #sidecarNav #mobileNavigation .c-hero-mega-menu__item:first-child {
    flex: 1 1 auto;
    justify-content: flex-end;
}
#header #headerNav .c-hero-mega-menu__item:last-child, #sidecarNav #mobileNavigation .c-hero-mega-menu__item:last-child {
    flex: 1 1 auto;
}
#header #headerNav .c-hero-mega-menu__item--important, #sidecarNav #mobileNavigation .c-hero-mega-menu__item--important {
    align-items: center;
    padding-left: 36px;
    padding-right: 0;
    background-color: rgba(0, 0, 0, .2);
}
#header #headerNav .c-hero-mega-menu__link, #sidecarNav #mobileNavigation .c-hero-mega-menu__link {
    display: block;
    font: italic 400 14px/1.2 proxima-nova, sans-serif;
    letter-spacing: .06em;
    color: #fff;
    text-transform: none;
    transition: .35s;
}
#header #headerNav .c-hero-mega-menu__link:focus, #header #headerNav .c-hero-mega-menu__link:hover, #sidecarNav #mobileNavigation .c-hero-mega-menu__link:focus, #sidecarNav #mobileNavigation .c-hero-mega-menu__link:hover {
    opacity: .7;
}
#header #headerNav .c-hero-mega-menu__logo, #sidecarNav #mobileNavigation .c-hero-mega-menu__logo {
    display: block;
    width: 100%}
#header #headerNav .c-hero-mega-menu__logo img, #sidecarNav #mobileNavigation .c-hero-mega-menu__logo img {
    display: inline-block;
    height: auto;
}
#header #headerNav .c-hero-mega-menu__logo span, #sidecarNav #mobileNavigation .c-hero-mega-menu__logo span {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    opacity: .5;
}
#header #headerNav .c-hero-mega-menu__item:first-child .c-hero-mega-menu__logo, #sidecarNav #mobileNavigation .c-hero-mega-menu__item:first-child .c-hero-mega-menu__logo {
    margin-bottom: 11px;
}
#header #headerNav .c-hero-mega-menu__text, #sidecarNav #mobileNavigation .c-hero-mega-menu__text {
    display: flex;
    align-items: center;
    font-size: 1.14em;
}
#header #headerNav .c-hero-mega-menu__text:after, #sidecarNav #mobileNavigation .c-hero-mega-menu__text:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: .3em;
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns='http: //www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M5 3l3.057-3L20 12 8.057 24 5 21l9-9z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%}
#header #headerNav .c-hero-mega-menu__item--important .c-hero-mega-menu__text, #sidecarNav #mobileNavigation .c-hero-mega-menu__item--important .c-hero-mega-menu__text {
    display: block;
    font-size: 1.5em;
}
#header #headerNav .c-hero-mega-menu__item--important .c-hero-mega-menu__text:after, #sidecarNav #mobileNavigation .c-hero-mega-menu__item--important .c-hero-mega-menu__text:after {
    bottom: .05em;
}
#header #headerNav .c-hero-mega-menu__item--important .c-hero-mega-menu__text b, #sidecarNav #mobileNavigation .c-hero-mega-menu__item--important .c-hero-mega-menu__text b {
    font-size: 1.4em;
}
#header #headerNav .c-hero-mega-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    border-top: 1px solid #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-out, visibility .2s ease-out;
}
#sidecarNav #mobileNavigation .c-hero-mega-menu {
    flex-direction: column;
}
#sidecarNav #mobileNavigation .c-hero-mega-menu__item {
    padding: .667em 0;
}
#sidecarNav #mobileNavigation .c-hero-mega-menu__item:first-child {
    justify-content: flex-start;
}
#sidecarNav #mobileNavigation .c-hero-mega-menu__item--important {
    padding-top: 1.5em;
    padding-bottom: 0;
    border-top: 1px solid #00c4df;
    background: transparent;
}
#sidecarNav #mobileNavigation .c-hero-mega-menu__item--important .c-hero-mega-menu__text b {
    font-size: 1em;
}
#sidecarNav #mobileNavigation .c-hero-mega-menu__text {
    display: block;
}
#header #headerNav .c-mega-menu, #sidecarNav #mobileNavigation .c-mega-menu {
    background-color: #014e59;
    color: #fff;
    font: 400 14px/1.2 proxima-nova, sans-serif!important;
    letter-spacing: .06em;
    text-align: left;
    text-transform: none;
    white-space: normal;
}
#header #headerNav .c-mega-menu.is-open, #sidecarNav #mobileNavigation .c-mega-menu.is-open {
    opacity: 1;
    visibility: visible;
}
#header #headerNav .c-mega-menu__groups, #sidecarNav #mobileNavigation .c-mega-menu__groups {
    display: flex;
    justify-content: center;
}
#header #headerNav .c-mega-menu__group, #sidecarNav #mobileNavigation .c-mega-menu__group {
    padding: 20px 15px;
}
#header #headerNav .c-mega-menu__group-header, #sidecarNav #mobileNavigation .c-mega-menu__group-header {
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 100%, .3);
}
#header #headerNav .c-mega-menu__group-title, #sidecarNav #mobileNavigation .c-mega-menu__group-title {
    margin: 0 0 .25em;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: .06em;
    color: #fff;
    white-space: nowrap;
}
#header #headerNav .c-mega-menu__group-description, #sidecarNav #mobileNavigation .c-mega-menu__group-description {
    margin: 0 0 .714em;
    font-style: italic;
    color: hsla(0, 0%, 100%, .5);
}
#header #headerNav .c-mega-menu__items, #sidecarNav #mobileNavigation .c-mega-menu__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
#header #headerNav .c-mega-menu__item, #sidecarNav #mobileNavigation .c-mega-menu__item {
    flex: 1 1 240px;
    padding: 20px 15px;
}
#header #headerNav .c-mega-menu__nav, #sidecarNav #mobileNavigation .c-mega-menu__nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
#header #headerNav .c-mega-menu__nav li, #sidecarNav #mobileNavigation .c-mega-menu__nav li {
    padding-bottom: 8px;
}
#header #headerNav .c-mega-menu__nav a, #sidecarNav #mobileNavigation .c-mega-menu__nav a {
    display: block;
    padding: 4px 0 4px 14px;
    border-left: 4px solid #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: .06em;
    text-transform: none;
    color: #fff;
    transition: opacity .3s;
}
#header #headerNav .c-mega-menu__nav a:focus, #header #headerNav .c-mega-menu__nav a:hover, #sidecarNav #mobileNavigation .c-mega-menu__nav a:focus, #sidecarNav #mobileNavigation .c-mega-menu__nav a:hover {
    opacity: .7;
}
#header #headerNav .c-mega-menu__nav a[data-color-red1], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-red1] {
    border-color: #e05049;
}
#header #headerNav .c-mega-menu__nav a[data-color-red2], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-red2] {
    border-color: #fd7055;
}
#header #headerNav .c-mega-menu__nav a[data-color-orange1], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-orange1] {
    border-color: #fd7b2c;
}
#header #headerNav .c-mega-menu__nav a[data-color-orange2], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-orange2] {
    border-color: #fc6129;
}
#header #headerNav .c-mega-menu__nav a[data-color-yellow1], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-yellow1] {
    border-color: #fed236;
}
#header #headerNav .c-mega-menu__nav a[data-color-yellow2], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-yellow2] {
    border-color: #fda931;
}
#header #headerNav .c-mega-menu__nav a[data-color-green1], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-green1] {
    border-color: #5bb773;
}
#header #headerNav .c-mega-menu__nav a[data-color-green2], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-green2] {
    border-color: #00d3af;
}
#header #headerNav .c-mega-menu__nav a[data-color-blue1], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-blue1] {
    border-color: #7492e0;
}
#header #headerNav .c-mega-menu__nav a[data-color-blue2], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-blue2] {
    border-color: #1a88c5;
}
#header #headerNav .c-mega-menu__nav a[data-color-blue3], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-blue3] {
    border-color: #3c97c7;
}
#header #headerNav .c-mega-menu__nav a[data-color-blue4], #sidecarNav #mobileNavigation .c-mega-menu__nav a[data-color-blue4] {
    border-color: #01b5d2;
}
#header #headerNav .c-mega-menu__title, #sidecarNav #mobileNavigation .c-mega-menu__title {
    display: flex;
    align-items: center;
    margin: 0 0 .6em;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .06em;
    color: #fff;
    text-transform: uppercase;
}
#header #headerNav .c-mega-menu__title:after, #sidecarNav #mobileNavigation .c-mega-menu__title:after {
    content: "";
    width: .857em;
    height: .857em;
    position: relative;
    margin-top: -.1em;
    margin-left: .35em;
    background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns='http: //www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M5 3l3.057-3L20 12 8.057 24 5 21l9-9z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
#header #headerNav .c-mega-menu__title a, #sidecarNav #mobileNavigation .c-mega-menu__title a {
    padding: 0;
    color: currentColor;
    text-decoration: none;
    transition: opacity .3s;
}
#header #headerNav .c-mega-menu__title a:focus, #header #headerNav .c-mega-menu__title a:hover, #sidecarNav #mobileNavigation .c-mega-menu__title a:focus, #sidecarNav #mobileNavigation .c-mega-menu__title a:hover {
    opacity: .7;
}
#header #headerNav .c-mega-menu__item p, #sidecarNav #mobileNavigation .c-mega-menu__item p {
    margin: 0 0 20px;
    font-style: italic;
    color: hsla(0, 0%, 100%, .5);
}
#header #headerNav .c-mega-menu__footer, #sidecarNav #mobileNavigation .c-mega-menu__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, .2);
    color: currentColor;
    letter-spacing: .06em;
    text-decoration: none;
}
#header #headerNav .c-mega-menu__footer-title, #sidecarNav #mobileNavigation .c-mega-menu__footer-title {
    display: flex;
    align-items: center;
    margin: 0 15px 0 0;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: .06em;
    color: currentColor;
}
#header #headerNav .c-mega-menu__footer-title img, #sidecarNav #mobileNavigation .c-mega-menu__footer-title img {
    display: block;
    margin-right: 10px;
}
#header #headerNav .c-mega-menu__footer p, #sidecarNav #mobileNavigation .c-mega-menu__footer p {
    margin: 0;
    padding: 1px 20px 1px 15px;
    border-left: 2px solid #fff;
    line-height: 1.1;
    font-style: italic;
    font-size: 1em;
    letter-spacing: .04em;
    color: currentColor;
    text-transform: none;
    opacity: .5;
}
#header #headerNav .c-mega-menu__footer-link, #sidecarNav #mobileNavigation .c-mega-menu__footer-link {
    font-weight: 700;
    color: currentColor;
    text-transform: none;
    transition: .35s;
}
#header #headerNav .c-mega-menu__footer-link:hover, #sidecarNav #mobileNavigation .c-mega-menu__footer-link:hover {
    color: hsla(0, 0%, 100%, .7);
}
#header #headerNav .c-mega-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    border-top: 1px solid #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-out, visibility .2s ease-out;
}
#sidecarNav #mobileNavigation .c-mega-menu__groups {
    flex-direction: column;
}
#sidecarNav #mobileNavigation .c-mega-menu__group {
    padding: 0;
}
#sidecarNav #mobileNavigation .c-mega-menu__group-title {
    font-size: 1.3em;
    white-space: normal;
}
#sidecarNav #mobileNavigation .c-mega-menu__nav a {
    font-size: 1em;
}
#sidecarNav #mobileNavigation .c-mega-menu__group-description, #sidecarNav #mobileNavigation .c-mega-menu__item p {
    font-size: .9em;
}
#sidecarNav #mobileNavigation .c-mega-menu__footer {
    display: none;
}
#sidecarNav {
    width: 280px;
}
@media(min-width:420px) {
    #sidecarNav {
    width: 370px;
}
}#sidecarNav nav {
    padding-left: 20px;
    padding-right: 20px;
}
.mobile-nav-open #siteWrapper, .mobile-nav-open .body-overlay, .mobile-nav-open .show-on-scroll-wrapper #header {
    -webkit-transform: translate3d(-280px, 0, 0)!important;
    transform: translate3d(-280px, 0, 0)!important;
}
@media(min-width:420px) {
    .mobile-nav-open #siteWrapper, .mobile-nav-open .body-overlay, .mobile-nav-open .show-on-scroll-wrapper #header {
    -webkit-transform: translate3d(-370px, 0, 0)!important;
    transform: translate3d(-370px, 0, 0)!important;
}
}#sidecarNav .folder-toggle.active~.subnav {
    max-height: 2000px!important;
}
body:not(.homepage) .banner-thumbnail-wrapper.has-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    min-height: 480px;
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}
.c-tabs {
    flex-wrap: wrap;
    align-items: stretch;
}
.c-tabs, .c-tabs__toggle {
    display: flex;
    justify-content: center;
}
.c-tabs__toggle {
    box-sizing: border-box;
    flex: 1 1 0;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-left: 14px;
    padding: 1.1em 1em 1em;
    border: 1px solid #c8d5d7;
    border-bottom-width: 0;
    background: #f1f7f8;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: .05em;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    color: #5e5e5e;
    transition: background .35s;
}
.c-tabs__toggle:first-child {
    margin-left: 0;
}
.c-tabs__toggle:focus, .c-tabs__toggle:hover {
    background-color: #fff;
    outline: none;
}
.c-tabs__toggle:before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    height: 0;
    background: #21c4dd;
    transition: .2s;
}
.c-tabs__toggle[aria-selected=true] {
    background-color: #fff;
    border-top-color: #555;
}
.c-tabs__toggle[aria-selected=true]:before {
    height: 6px;
}
.c-tabs__toggle[aria-selected=true]:after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #fff;
}
.c-tabs.is-stacked .c-tabs__toggle {
    flex: 1 1 100%;
    margin: 0 10px 10px;
    border-bottom-width: 1px;
}
.c-tabs.is-stacked .c-tabs__toggle[aria-selected=true] {
    margin-bottom: 0;
    border-bottom-width: 0;
}
.c-tabs:not(.is-stacked) .c-tabs__toggle {
    order: -1;
}
.c-tabs__item {
    width: 100%;
    padding: 23px 20px 17px;
    border-top: 1px solid #c8d5d7;
}
@media (min-width:641px) {
    .c-tabs__item {
    padding-top: 40px;
}
}@media (min-width:768px) {
    .c-tabs__item {
    padding: 50px 30px 17px;
}
}.c-tabs__item:not([hidden]) .sqs-layout {
    -webkit-animation: .3s a;
    animation: .3s a;
}
#collection-57edb9b3cd0f68173202f22f .c-tabs__toggle:before {
    background: #00c4df;
}
#collection-5944639ebebafb1fdafb95db .c-tabs__toggle:before {
    background: #1e78ff;
}
#collection-57edc0ffff7c50b6b8948780 .c-tabs__toggle:before {
    background: #b994f2;
}
#collection-57edcf8fe4fcb554b232e19f .c-tabs__toggle:before {
    background: #75c5b3;
}
#collection-57edc81bb8a79be6cfbd894b .c-tabs__toggle:before {
    background: #e06a6a;
}
#collection-57ede9cf59cc68ee84e3828e .c-tabs__toggle:before {
    background: #d62a21;
}
#collection-57edede06a4963a32de4a176 .c-tabs__toggle:before {
    background: #16c167;
}
#collection-59482a96f5e2318c2dfd8b23 .c-tabs__toggle:before {
    background: #8be698;
}
.c-section-nav {
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 30px;
    list-style: none;
    background-color: #dee5e6;
}
@media (min-width:768px) {
    .c-section-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 85px;
}
.force-mobile-nav .c-section-nav {
    top: 81px;
}
}.c-section-nav li {
    margin: 0 15px;
    -webkit-animation: header-anim 1s ease-in-out;
    animation: header-anim 1s ease-in-out;
}
.c-section-nav a {
    display: block;
    padding: 18px 0 14px;
    color: #71878a;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: .06em;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    text-align: center;
    transition: .35s;
}
.c-section-nav a.is-active, .no-touch .c-section-nav a .c-section-nav a:hover {
    color: #017080;
    border-color: currentColor;
}
.c-section-nav a:focus {
    outline: none;
}
.index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .banner-thumbnail-wrapper, .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper, .index-section[data-collection-id="57edc134e4fcb554b2326bef"] .banner-thumbnail-wrapper, .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .banner-thumbnail-wrapper, .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .banner-thumbnail-wrapper, .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .banner-thumbnail-wrapper, .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .banner-thumbnail-wrapper, .index-section[data-collection-id="5944632c1b631b13a913b80f"] .banner-thumbnail-wrapper {
    max-width: 1020px;
    margin: 0 auto;
    background: transparent;
}
@media (max-width:639px) {
    .index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .banner-thumbnail-wrapper, .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper, .index-section[data-collection-id="57edc134e4fcb554b2326bef"] .banner-thumbnail-wrapper, .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .banner-thumbnail-wrapper, .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .banner-thumbnail-wrapper, .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .banner-thumbnail-wrapper, .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .banner-thumbnail-wrapper, .index-section[data-collection-id="5944632c1b631b13a913b80f"] .banner-thumbnail-wrapper {
    min-height: 0!important;
}
}.index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edc134e4fcb554b2326bef"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="5944632c1b631b13a913b80f"] .banner-thumbnail-wrapper #thumbnail {
    position: relative;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    overflow: visible!important;
}
@media (min-width:641px) {
    .index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edc134e4fcb554b2326bef"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="5944632c1b631b13a913b80f"] .banner-thumbnail-wrapper #thumbnail {
    width: 410px;
}
}@media (min-width:1024px) {
    .index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edc134e4fcb554b2326bef"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .banner-thumbnail-wrapper #thumbnail, .index-section[data-collection-id="5944632c1b631b13a913b80f"] .banner-thumbnail-wrapper #thumbnail {
    padding: 0;
}
}.index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .banner-thumbnail-wrapper #thumbnail img, .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper #thumbnail img, .index-section[data-collection-id="57edc134e4fcb554b2326bef"] .banner-thumbnail-wrapper #thumbnail img, .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .banner-thumbnail-wrapper #thumbnail img, .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .banner-thumbnail-wrapper #thumbnail img, .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .banner-thumbnail-wrapper #thumbnail img, .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .banner-thumbnail-wrapper #thumbnail img, .index-section[data-collection-id="5944632c1b631b13a913b80f"] .banner-thumbnail-wrapper #thumbnail img {
    position: relative!important;
    top: auto!important;
    left: auto!important;
    width: 100%!important;
    height: auto!important;
}
.index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edc134e4fcb554b2326bef"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="5944632c1b631b13a913b80f"] .banner-thumbnail-wrapper .desc-wrapper {
    order: -1;
    width: 100%;
    margin: 0;
    max-width: none;
}
@media (max-width:639px) {
    .index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edc134e4fcb554b2326bef"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="5944632c1b631b13a913b80f"] .banner-thumbnail-wrapper .desc-wrapper {
    padding: 0 20px 10px;
}
}@media (min-width:641px) {
    .index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edc134e4fcb554b2326bef"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .banner-thumbnail-wrapper .desc-wrapper, .index-section[data-collection-id="5944632c1b631b13a913b80f"] .banner-thumbnail-wrapper .desc-wrapper {
    flex: 1 1 0;
    width: auto;
    min-width: 400px;
}
}.index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .index-section-wrapper.page-content, .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .index-section-wrapper.page-content, .index-section[data-collection-id="57edc134e4fcb554b2326bef"] .index-section-wrapper.page-content, .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .index-section-wrapper.page-content, .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .index-section-wrapper.page-content, .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .index-section-wrapper.page-content, .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .index-section-wrapper.page-content, .index-section[data-collection-id="5944632c1b631b13a913b80f"] .index-section-wrapper.page-content {
    max-width: none;
}
.index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .index-section-wrapper.page-content .content-inner, .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .index-section-wrapper.page-content .content-inner, .index-section[data-collection-id="57edc134e4fcb554b2326bef"] .index-section-wrapper.page-content .content-inner, .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .index-section-wrapper.page-content .content-inner, .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .index-section-wrapper.page-content .content-inner, .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .index-section-wrapper.page-content .content-inner, .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .index-section-wrapper.page-content .content-inner, .index-section[data-collection-id="5944632c1b631b13a913b80f"] .index-section-wrapper.page-content .content-inner {
    max-width: 1020px;
    margin: 0 auto;
}
.index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] {
    background: #2e789f;
}
.index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .page-content {
    background-color: #e2effe;
}
.index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .banner-thumbnail-wrapper #thumbnail {
    margin-bottom: -12%;
    padding: 0;
}
@media (min-width:641px) {
    .index-section[data-collection-id="57edf3c7414fb58ff2eb4992"] .banner-thumbnail-wrapper #thumbnail {
    margin-bottom: -20%;
    width: 500px;
}
}.index-section[data-collection-id="57edc134e4fcb554b2326bef"] {
    background: #566da9;
}
.index-section[data-collection-id="57edc134e4fcb554b2326bef"] .page-content {
    background-color: #ebf3ff;
}
.index-section[data-collection-id="59482ab1ccf2104b131f6a83"] {
    background: #00d3af;
}
.index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .page-content {
    background-color: #e1f6f1;
}
.index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .banner-thumbnail-wrapper #thumbnail {
    margin-bottom: -50%}
@media (min-width:641px) {
    .index-section[data-collection-id="59482ab1ccf2104b131f6a83"] .banner-thumbnail-wrapper #thumbnail {
    margin-bottom: -30%}
}.index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] {
    background: #4ea064;
}
.index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .page-content {
    background-color: #e7f2e4;
}
.index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .banner-thumbnail-wrapper #thumbnail {
    margin-bottom: -36%;
    padding: 0;
}
@media (min-width:641px) {
    .index-section[data-collection-id="57edee1b6a4963a32de4a2ae"] .banner-thumbnail-wrapper #thumbnail {
    margin-bottom: -20%}
}.index-section[data-collection-id="57ede9e4d2b857126563d0ae"] {
    background: #bc413b;
}
.index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .page-content {
    background-color: #f6f8f8;
}
@media (max-width:640px) {
    .index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .banner-thumbnail-wrapper #thumbnail {
    margin: auto;
    margin-left: -42%}
.index-section[data-collection-id="57ede9e4d2b857126563d0ae"] .banner-thumbnail-wrapper #thumbnail img {
    width: 150%!important;
    right: -45%}
}.index-section[data-collection-id="5944632c1b631b13a913b80f"] {
    background: #1570a3;
}
.index-section[data-collection-id="5944632c1b631b13a913b80f"] .page-content {
    background-color: #d3e4ef;
}
@media (min-width:641px) {
    .index-section[data-collection-id="5944632c1b631b13a913b80f"] .banner-thumbnail-wrapper #thumbnail {
    width: 380px;
}
}.index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] {
    background: #ec684f;
}
.index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .page-content {
    background-color: #f6f8f8;
}
.index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .banner-thumbnail-wrapper #thumbnail {
    margin-bottom: -50%}
@media (min-width:641px) {
    .index-section[data-collection-id="5a78abbbe2c483ab08db0d9c"] .banner-thumbnail-wrapper #thumbnail {
    margin-bottom: -30%}
}.index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] {
    background: #00acc7;
}
.index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .page-content {
    background-color: #e6f5fa;
}
@media (max-width:640px) {
    .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper #thumbnail {
    margin: auto;
    margin-left: -42%}
.index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper #thumbnail img {
    width: 190%!important;
    right: -45%}
}@media (min-width:1024px) {
    .index-section[data-collection-id="57edb9f1ff7c50b6b8944d74"] .banner-thumbnail-wrapper #thumbnail {
    width: 470px;
}
}.index-section {
    position: relative;
}
.index-section .promoted-gallery-wrapper:not(:empty)+.page-content {
    padding: 0;
}
#collection-57c0c7dbbe6594ea1c68d2ec #content .page-content, #collection-59416da64402431cd2e93315 #ps-discovery .page-content {
    padding-top: 58px;
    padding-bottom: 48px;
}
#collection-596c748a6b8f5bacd67deca9 .index-section:not(:last-child) .index-section-wrapper, #collection-59416da64402431cd2e93315 .index-section[id^=psolutions-]:not(:last-child) .index-section-wrapper {
    border-bottom: 1px solid rgba(26, 26, 26, .15);
}
#collection-59de5437f43b55bb69eed849 .banner-thumbnail-wrapper .desc-wrapper p:first-of-type:before, #collection-594ab60fa5790a48b3038933 .banner-thumbnail-wrapper .desc-wrapper p:first-of-type:before, #collection-5941b697b8a79b530421cd37 .banner-thumbnail-wrapper .desc-wrapper p:first-of-type:before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%}
#collection-594ab60fa5790a48b3038933 .banner-thumbnail-wrapper .desc-wrapper p:first-of-type:before {
    width: 200px;
    height: 65px;
    margin-bottom: 10px;
    background-image: url(https://static1.squarespace.com/static/5716af60356fb068327b23af/t/594fa72337c5812dce6012b5/1498392355903/clarity-logo-white.png);
}
@media (min-width:641px) {
    #collection-594ab60fa5790a48b3038933 .banner-thumbnail-wrapper .desc-wrapper p:first-of-type:before {
    width: 285px;
    height: 92px;
    margin-bottom: 15px;
}
}#collection-59de5437f43b55bb69eed849 .banner-thumbnail-wrapper .desc-wrapper p:first-of-type:before, #collection-5941b697b8a79b530421cd37 .banner-thumbnail-wrapper .desc-wrapper p:first-of-type:before {
    width: 285px;
    height: 50px;
    margin-bottom: 15px;
    background-image: url(https://static1.squarespace.com/static/5716af60356fb068327b23af/t/5a8712a9c830255b6058ff30/1518801577550/datasense-logo-white.png);
    background-repeat: no-repeat;
}
@media (min-width:641px) {
    #collection-59de5437f43b55bb69eed849 .banner-thumbnail-wrapper .desc-wrapper p:first-of-type:before, #collection-5941b697b8a79b530421cd37 .banner-thumbnail-wrapper .desc-wrapper p:first-of-type:before {
    width: 466px;
    height: 82px;
    margin-bottom: 30px;
}
}[id$=announcement-banner] {
    overflow: hidden;
}
[id$=announcement-banner] .index-section-wrapper {
    max-width: none;
    margin: 0;
    padding: 0;
}
[id$=announcement-banner] .sqs-layout .sqs-block, [id$=announcement-banner] .sqs-layout .sqs-block:last-child {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.c-announcement-banner {
    display: block;
    background-color: #fff;
    color: #1d7aa7;
}
.c-announcement-banner:hover {
    color: #1d7aa7;
}
.c-announcement-banner__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1134px;
    margin: 0 auto;
    opacity: 0;
    -webkit-animation: feature-text-anim .75s .25s ease-in-out forwards;
    animation: feature-text-anim .75s .25s ease-in-out forwards;
}
@media (max-width:999px) {
    .c-announcement-banner__inner {
    flex-wrap: wrap;
}
}.c-announcement-banner__img-wrapper {
    padding: 0 1%;
    max-width: 175px;
}
@media (max-width:999px) {
    .c-announcement-banner__img-wrapper {
    padding-bottom: 14px;
}
}.c-announcement-banner__img-wrapper img {
    display: block;
    width: 100%;
    height: auto;
}
.c-announcement-banner__content {
    padding: 20px 1% 16px;
    font-weight: 700;
    font-size: 34px;
}
@media (max-width:640px) {
    .c-announcement-banner__content {
    padding: 14px 20px 0;
    font-size: 30px;
}
}@media (max-width:999px) {
    .c-announcement-banner__content {
    order: -1;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
}
}.c-announcement-banner__content p {
    margin: 12px 0;
    color: currentColor;
    font-size: 1em;
    line-height: 1.2;
}
.c-announcement-banner__learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .3em;
    font-weight: 700;
    font-size: .7em;
    letter-spacing: .08em;
    text-transform: uppercase;
    transition: .35s;
    text-align: center;
    color: #e51c18;
    -webkit-animation: b .8s 1.25s;
    animation: b .8s 1.25s;
}
.c-announcement-banner__learn-more svg {
    position: relative;
    top: -.01em;
    width: .8em;
    height: .6em;
    margin-left: .25em;
}
.c-announcement-banner:hover .c-announcement-banner__learn-more {
    opacity: .7;
}
.mktoForm {
    width: 100%!important;
    font-family: inherit!important;
    -webkit-animation: a .5s;
    animation: a .5s;
}
.mktoForm .mktoFieldWrap {
    display: flex!important;
    flex-wrap: wrap;
    align-items: center;
    width: 100%}
.mktoForm .mktoGutter, .mktoForm .mktoOffset {
    display: none!important;
}
@media (min-width:480px) {
    .mktoForm .mktoFormRow {
    display: flex;
    justify-content: space-between;
}
}.mktoForm .mktoFormCol {
    width: 100%!important;
    margin-bottom: 24px!important;
}
@media (min-width:480px) {
    .mktoForm .mktoFormCol+.mktoFormCol {
    margin-left: 2%}
}.mktoForm .mktoLabel {
    width: 100%!important;
    padding: 0!important;
    font-weight: 400!important;
    font-size: 18px!important;
    line-height: 1.6!important;
    letter-spacing: 0;
    color: #626464;
}
.mktoForm .mktoAsterix {
    display: none!important;
}
.mktoForm .mktoRequiredField .mktoLabel:after {
    content: " *";
    line-height: normal;
}
.mktoForm .mktoField {
    padding: 12px!important;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 14px!important;
    line-height: 1!important;
    border-radius: 2px;
    box-shadow: none!important;
}
.mktoForm .mktoField:not(textarea):not([type=checkbox]):not([type=radio]) {
    width: 100%!important;
    margin: 6px 0 4px!important;
    height: 40px;
}
.mktoForm .mktoField:focus {
    background: #fff;
    transition: background .1s ease-in;
    outline: none;
}
.mktoForm textarea.mktoField {
    width: 100%!important;
    margin: 6px 0 4px!important;
    padding: 12px!important;
    min-height: 100px;
    resize: vertical!important;
}
.mktoForm .mktoCheckboxList, .mktoForm .mktoRadioList {
    width: 100%!important;
    padding-left: 0!important;
    padding-right: 0!important;
}
.mktoForm .mktoCheckboxList label, .mktoForm .mktoRadioList label {
    margin-top: 0!important;
    margin-bottom: 0!important;
    line-height: 1;
}
.mktoForm .mktoCheckboxList input, .mktoForm .mktoRadioList input {
    margin-right: .5em;
    margin-top: 0!important;
}
.mktoForm .checkbox-list__group {
    display: flex;
    flex-wrap: wrap;
    padding: .4em 0;
}
.mktoForm .mktoButtonRow {
    display: block;
}
.mktoForm .mktoButtonWrap {
    display: inline-block;
    margin-left: 0!important;
}
.mktoForm .mktoButton, .mktoForm .mktoButtonWrap.mktoBluePill button.mktoButton {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em!important;
    text-align: center;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-weight: 300!important;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff!important;
    background: #1a1a1a!important;
    border: 1px solid #1a1a1a!important;
    border-radius: 0;
    box-shadow: none!important;
    text-shadow: none;
    transition: opacity .1s linear;
}
.mktoForm .mktoButton:focus, .mktoForm .mktoButton:hover, .mktoForm .mktoButtonWrap.mktoBluePill button.mktoButton:focus, .mktoForm .mktoButtonWrap.mktoBluePill button.mktoButton:hover {
    box-shadow: none!important;
    opacity: .8!important;
}
.mktoForm .mktoError {
    position: relative!important;
    right: auto!important;
    bottom: auto!important;
}
.mktoForm .mktoError .mktoErrorMsg {
    display: inline-block!important;
    margin: 0 0 .5em!important;
    padding: 5px 15px 3px 25px!important;
    max-width: none!important;
    color: #fff!important;
    background: #cc3b3b url(//static.squarespace.com/universal/images-v6/standard/icon_close_7_light.png) no-repeat 9px 50%!important;
    font-size: 13px!important;
    border-radius: 2px!important;
    box-shadow: none!important;
    border: none!important;
    text-shadow: none!important;
    line-height: 23px!important;
}
.mktoForm .mktoErrorArrowWrap {
    display: none!important;
}
.mktoModalContent {
    margin-bottom: 20px;
}
.mktoModalMain {
    padding: 20px;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
}
.js-formRequired form:not(.mktoForm) {
    display: block;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border-radius: 150px;
    border: 2px solid rgba(0, 0, 0, .75);
    border-top-color: rgba(0, 0, 0, .08);
    border-left-color: rgba(0, 0, 0, .08);
    -webkit-animation: sqs-spin 1s infinite linear;
    animation: sqs-spin 1s infinite linear;
}
.roi-calculator-banner {
    background-color: #e4e6e6;
    color: #8d1c17;
}
.roi-calculator-banner__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1020px;
    margin: 0 auto;
    padding: 17px 0;
    font-size: 30px;
}
@media (min-width:641px) {
    .roi-calculator-banner__inner {
    font-size: 34px;
}
}@media (min-width:920px) {
    .roi-calculator-banner__inner {
    justify-content: space-between;
}
}.roi-calculator-banner h2, .roi-calculator-banner p {
    margin: 10px 17px;
    color: currentColor;
    line-height: 1.2;
}
@media (max-width:639px) {
    .roi-calculator-banner h2, .roi-calculator-banner p {
    width: 250px;
}
}@media (min-width:920px) {
    .roi-calculator-banner h2, .roi-calculator-banner p {
    margin: 17px;
}
}.roi-calculator-banner h2 {
    font-weight: 700;
    font-size: 1em;
}
.roi-calculator-banner p {
    font-size: .8em;
}
.roi-calculator-banner .sqs-block-button {
    margin: 17px;
    padding: 0;
    text-align: center;
}
.roi-calculator-banner .sqs-block-button .sqs-block-button-element--small {
    padding: 1em 2em!important;
    font-size: .6em!important;
    font-weight: lighter;
}
.c-lightbox[id="lightbox>/roi-calculator-iframe"] .c-lightbox__content {
    position: relative;
    padding: 0;
    max-width: none;
    width: 375px;
    min-height: 667px;
    background: #91abaf;
}
@media (min-width:990px) {
    .c-lightbox[id="lightbox>/roi-calculator-iframe"] .c-lightbox__content {
    width: 950px;
    min-height: 750px;
}
}@media (max-width:639px) {
    .c-lightbox[id="lightbox>/roi-calculator-iframe"] .c-lightbox__content .collection-type-page {
    margin-bottom: -21px;
}
}.c-lightbox[id="lightbox>/roi-calculator-iframe"] iframe {
    border: 0;
    width: 100%;
    height: 100%;
    min-height: 667px;
}
@media (min-width:990px) {
    .c-lightbox[id="lightbox>/roi-calculator-iframe"] iframe {
    min-height: 750px;
}
}.js-move-to {
    opacity: 0;
}
@-webkit-keyframes a {
    0% {
    opacity: 0;
}
to {
    opacity: 1;
}
}@keyframes a {
    0% {
    opacity: 0;
}
to {
    opacity: 1;
}
}@-webkit-keyframes b {
    0%, 50%, to {
    opacity: 1;
}
25%, 75% {
    opacity: 0;
}
}@keyframes b {
    0%, 50%, to {
    opacity: 1;
}
25%, 75% {
    opacity: 0;
}
}