/* src/DataProcess.css */
.data-process-container {
    padding: 20px;
    background: url('https://res.cloudinary.com/dvmqfke8w/image/upload/v1705053776/Untitled_24_mvracg.png');
    background-size: cover;
    color: #000; 
  }
  
  .heading-container {
    text-align: center;
    padding-bottom: 10px;
  }
  
  .description-container {
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;
    padding: 0 190px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    flex: 1 0 30%; /* Adjust the width as needed */
    margin: 20px;
    text-align: center;
  }
  
  .box img {
    max-width: 100%;
    width: 100px;
    height: 100px;

  }

.data-processing-heading {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 5px;
}
  .box-heading {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.box-description{
    padding: 10px 40px;
    text-align: center;
    font-size: 15px;
}
  